*{
    margin: 0;
    padding: 0;
}
header {
    /*background-image: url(./Sky-Room_white-linens.webp);
    filter: brightness(95%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 0;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
.scroll-header {
    background-color: rgba(114, 39, 39, 0.7);
    color: black !important;
    transition: 0.5s;
}
.black {
    color: #222222;
}
.scroll {
    color: black;
    font-family: "Great Vibes";
    font-size: 18px;
}
.headers-texts {
    position: relative;
    z-index: 1;
}
.first-sec-g {
    position: relative;
    padding-top: 100px;
    height: 50vh;
    background-image: url(./bg-title-page-03.jpg.webp);
    filter: brightness(80%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.black-tema {
    width: 40px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    right: 30px;
    top: 43px;
    border-radius: 17px;
    z-index: 0;
    transition: 0.5s;
}
.black-ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 2px;
    left: 22px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}
.white-tema {
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    right: 30px;
    top: 43px;
    border-radius: 17px;
    z-index: 0;
    transition: 0.5s;
}
.white-ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}
.res-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid white;
    position: absolute;
    left: 70px;
    cursor: pointer;
}
.rest-name {
    font-family: "Great Vibes";
    font-size: 18px;
    color: white;
}
.rest {
    font-family: "Poppins";
    font-size: 12.5px;
    color: white;
}
#n-bars {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 24px;
    transition: 0.2s;
}
#n-bars:hover {
    color: orangered;
    cursor: pointer;
    transition: 0.2s;
}
.nav-bar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    transition: 0.5s;
    padding-bottom: 20px;
    text-shadow: 3px 3px 10px black;
}
#home-first {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
#home-first:hover {
    color: #d80b0b;
    cursor: pointer;
    transition: 0.2s;
}
#rezervation {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
#rezervation:hover {
    color: #d80b0b;
}
#about-us {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    color: #d80b0b;
}
#about-us:hover {
    color: #d80b0b;
}
#contact {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
#contact:hover {
    color: #d80b0b;
}
.header-icon-social {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 100px;
}
.two-stick {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 100px;
}
.two-stick-new {
    width: 0px;
    height: 100%;
    background-color: white;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3;
    overflow-x: hidden;
    transition: 0.5s;
}
#home {
    text-decoration: none;
    color: #222222;
    transition: 0.3s;
}
#home:hover {
    color: #d80b0b;
}
#menu-first {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
#menu-first:hover {
    color: #d80b0b;
}
#gallery {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
#gallery:hover {
    color: #d80b0b;
}
.fa-xmark {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 30px;
}
.fa-xmark:hover {
    color: #d80b0b;
}
.slide-bar-texts {
    font-family: "Montserrat", sans-serif;
    color: #222222;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    padding: 24px;
    transition: 0.2s;
    text-align: center;
    
}
.slide-bar-texts > li {
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.slide-bar-texts > li:hover {
    color: #d80b0b;
}
.slide-bar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.delete {
    visibility: hidden;
}
#t-stick {
    width: 25px;
    height: 2px;
    background-color: white;
    transition: 0.2s;
}
.two-stick:hover #t-stick {
    background-color: orangered;
    transition: 0.2s;
}
.two-stick:hover #b-stick {
    background-color: orangered;
    transition: 0.2s;
}
#b-stick {
    width: 25px;
    height: 2px;
    background-color: white;
    transition: 0.2s;
}
.header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
#g-text-p {
    font-size: 70px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 200px;
    font-family: "Poppins";
    z-index: 3;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
}
.rest-map-div {
    width: 650px;
    height: 380px;
    background-color: rgba(114, 39, 39, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}
#rest-map {
    width: 570px;
    height: 300px;
    object-fit: cover;
}

.about-sec {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: rgb(235, 231, 231);
}
#a-img1 {
    width: 310px;
    height: 520px;
    object-fit: cover;
    position: absolute;
    right: 70px;
    left: 50px;
    top: 40px;
    /**/
}
#a-img2 {
    width: 310px;
    height: 520px;
    object-fit: cover;
  /* position: absolute;
     left: 100px;
    */
}
.about-images {
    position: relative;
    width: 29%;
}

#a-res-name {
    font-size: 52px;
    font-family: "Great Vibes";
    color: #d80b0b;
    font-weight: 600;
    position: absolute;
    left: 60px;
    top: 43px;
}
#a-big {
    font-size: 70px;
    font-family: "Courgette";
    position: absolute;
    top: 58px;
}
.a-start-text {
    position: relative;
}
#a-text {
    font-size: 20px;
    font-family: "Poppins";
    color: #222222;
    position: absolute;
    top: 50px;
    left: 30px;
    width: 400px;
    line-height: 1.8;
}
.about-texts {
    position: relative;
    width: 40%; 
}
#o-text {
    font-size: 20px;
    font-family: "Poppins";
    color: black;
    line-height: 1.8;
    font-weight: 600;
}
#o-time {
    font-size: 20px;
    font-family: "Poppins";
    color: #d80b0b;
    font-weight: 500;
}
#o-num {
    display: inline-block;
    font-size: 40px;
    padding-top: 20px;
    font-family: "Poppins";
    color: #691010;
    text-decoration: none;
}
#o-num:hover{
    color: #d80b0b;
}
.about-main-sec {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 70px;
    padding-top: 40px;
}
.xrono-div {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 60px;
    padding-bottom: 100px;
}
#xrono-num1 {
    font-size: 52px;
    color: #691010;
    font-family: "Poppins";
}
#xrono-num2 {
    font-size: 52px;
    color: #691010;
    font-family: "Poppins";
}
#xrono-num3 {
    font-size: 52px;
    color: #691010;
    font-family: "Poppins";
}
#xrono-num4 {
    font-size: 52px;
    color: #691010;
    font-family: "Poppins";
}
#xrono-text {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 500;
    color: #222222;
    transition: 0.5s;
}
#services-text {
    font-size: 70px;
    font-weight: 600;
    font-family: "Great Vibes";
    color: #691010;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}
.services-main-div {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 100px;
}
.services-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#services-bold-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Poppins";
    text-align: center;
}
#services-thin-text {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 17px;
    line-height: 2;
    font-weight: 400;
    color: #666666;
    text-align: center;
    width: 350px;
}
#services-icon {
    font-size: 50px;
    padding-bottom: 23px;
}

footer {
    background-color: #222222;
}
.footer-main-div {
    display: flex;
    padding: 50px 90px;
}
.contact-open-div {
    width: 25%;
    padding-right: 50px;
}
.sec-div {
    width: 30%;
}
#f-big-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#f-small-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    line-height: 1.7;
    padding-bottom: 10px;
}
.fa-phone {
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
}
.fa-envelope {
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
}
.fa-location-dot {
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
}
#g-img-mini {
    width: 75px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
}
#g-img-mini:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.gallery-imgs-div {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    gap: 10px;
}
.contact-us-social {
    width: 22%;
}
.contact-icons {
    display: inline-block;
    padding-right: 2px;
    width: 20px;
}
.modal-main-div {
    position: relative;
    display: flex;
    justify-content: center;
}
.modal-imgs > img {
    position: absolute;
    top: -65px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    opacity: 0;
}
#previous {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 110px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(40%);
}
.previous-main {
    height: 100%;
}
.previous-main:hover #previous{
    filter: brightness(100%);
}
#next {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    position: absolute;
    left: 340px;
    top: 110px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(40%);
}
.next-main {
    height: 100%;
}
.next-main:hover #next{
    filter: brightness(100%);
}
.modal-imgs {
    position: relative;
}
.modal {
    position: fixed;
    top: 220px;
    right: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 0;
    visibility: hidden;
}
.modal-back {
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7);
}
footer {
    position: relative;  
}
.fa-angle-right {
    font-size: 42px;

}
.fa-angle-left {
    font-size: 42px;
}
.fa-x {
    font-size: 35px;
    filter: brightness(50%);
}
.exit-modal {
    position: absolute;
    left: 350px;
    top: -40px;
    z-index: 2;
}
.exit-modal:hover .fa-x {
    filter: brightness(100%);
}
.m-active {
    opacity: 1 !important; 
}
#img-num {
    z-index: 2;
    color: rgb(0, 0, 0);
    position: absolute;
}
.img-num-div {
    font-family: "Poppins";
    z-index: 2;
    width: 110px;
    height: 25px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 260px;
    left: 150px;
}


.fade {
    transition: opacity 0.7s ease-in;
  }
  
  .fadeOut { opacity: 0; }
  .fadeIn { opacity: 1; }



@media screen and (max-width: 1300px) and (min-width: 1200px) {
    #n-bars {
        padding: 18px;
    }
    .rest-map-div {
        width: 420px;
        height: 230px;
    }
    #rest-map {
        width: 400px;
        height: 210px;
    }
    #a-text {
        font-size: 18px;
    }
    #o-text {
        font-size: 18px;
    }
    #o-time {
        font-size: 18px;
    }
    #o-num {
        font-size: 35px;
    }
    .xrono-div {
        padding-top: 160px;
    }
}




@media screen and (max-width: 1199px) and (min-width: 1100px) {
    #n-bars {
        padding: 18px;
    }
    .rest-map-div {
        width: 420px;
        height: 230px;
    }
    #rest-map {
        width: 400px;
        height: 210px;
    }
    #a-text {
        font-size: 18px;
    }
    #o-text {
        font-size: 18px;
    }
    #o-time {
        font-size: 18px;
    }
    #o-num {
        font-size: 35px;
    }
    .xrono-div {
        padding-top: 160px;
        gap: 130px;
    }
    .services-main-div {
        gap: 30px;
    }
}





@media screen and (max-width: 1099px) and (min-width: 1024px) {
    #n-bars {
        padding: 13px;
        font-size: 13px;
    }
    .rest-map-div {
        width: 420px;
        height: 230px;
    }
    #rest-map {
        width: 400px;
        height: 210px;
    }
    #a-text {
        font-size: 18px;
    }
    #o-text {
        font-size: 18px;
    }
    #o-time {
        font-size: 18px;
    }
    #o-num {
        font-size: 35px;
    }
    .xrono-div {
        padding-top: 160px;
        gap: 130px;
    }
    .services-main-div {
        gap: 20px;
    }
    .services-div {
        width: 320px;
    }
}





@media screen and (max-width: 1023px) and (min-width: 900px) {
    #n-bars {
        display: none;
        padding: 18px;
    }
    .nav-bar-main {
        padding-top: 70px;
    }
    .two-stick {
        display: flex;
        top: 40px;
        right: 50px;
    }
    #home:hover {
        color: #d80b0b;
    }
    #menu:hover {
        color: #d80b0b;
    }
    #reservation-slide:hover {
        color: #d80b0b;
    }
    #gallery-slide:hover {
        color: #d80b0b;
    }
    #about-slide:hover {
        color: #d80b0b;
    }
    #contact-slide:hover {
        color: #d80b0b;
    }

    #menu {
        color: #222222;
        text-decoration: none;
    }
    #reservation-slide {
        color: #222222;
        text-decoration: none;
    }
    #gallery-slide {
        color: #222222;
        text-decoration: none;
    }
    #about-slide {
       color: #d80b0b;
        text-decoration: none;
    }
    #contact-slide {
        color: #222222;
        text-decoration: none;
    }
    #g-text-p {
        font-size: 60px;
    }
    #welcome {
        font-size: 40px;
    }
    #rest-name-big {
        font-size: 70px;
    }
    #a-text {
        width: 370px;
    }
    .res-icon {
        top: 20px;
        left: 45px;
    }
    .header-icon-social {
        right: 120px;
        top: 40px;
    }
    .rest-map-div {
        width: 420px;
        height: 230px;
        margin-left: 0px;
    }
    .about-main-sec {
        gap: 0px;
    }
    #rest-map {
        width: 400px;
        height: 210px;
    }
    #a-text {
        font-size: 18px;
    }
    #o-text {
        font-size: 18px;
    }
    #o-time {
        font-size: 18px;
    }
    #o-num {
        font-size: 35px;
    }
    .xrono-div {
        padding-top: 160px;
        gap: 100px;
    }
    #xrono-num1 {
        font-size: 45px;
    }
    #xrono-num2 {
        font-size: 45px;
    }
    #xrono-num3 {
        font-size: 45px;
    }
    #xrono-num4 {
        font-size: 45px;
    }
    .services-main-div {
        gap: 20px;
    }
    .services-div {
        width: 280px;
    }
    #services-thin-text {
        width: 280px;
    }
    .gallery-div {
        display: none;
    }
    .footer-main-div {
        gap: 70px;
    }
}









@media screen and (max-width: 899px) and (min-width: 768px) {
    #n-bars {
        display: none;
        padding: 18px;
    }
    .nav-bar-main {
        padding-top: 70px;
    }
    /* .about-main-sec {
        flex-direction: column;
        align-items: center;
    } */
    .two-stick {
        display: flex;
        top: 40px;
        right: 50px;
    }
    #home:hover {
        color: #d80b0b;
    }
    #menu:hover {
        color: #d80b0b;
    }
    #reservation-slide:hover {
        color: #d80b0b;
    }
    #gallery-slide:hover {
        color: #d80b0b;
    }
    #about-slide:hover {
        color: #d80b0b;
    }
    #contact-slide:hover {
        color: #d80b0b;
    }

    #menu {
        color: #222222;
        text-decoration: none;
    }
    #reservation-slide {
        color: #222222;
        text-decoration: none;
    }
    #gallery-slide {
        color: #222222;
        text-decoration: none;
    }
    #about-slide {
        color: #d80b0b;
        text-decoration: none;
    }
    #contact-slide {
        color: #222222;
        text-decoration: none;
    }
    #g-text-p {
        font-size: 50px;
    }
    #welcome {
        font-size: 40px;
    }
    #rest-name-big {
        font-size: 70px;
    }
    #a-text {
        width: 370px;
    }
    .res-icon {
        top: 20px;
        left: 45px;
    }
    .header-icon-social {
        right: 120px;
        top: 40px;
    }
    .rest-map-div {
        width: 380px;
        height: 200px;
        margin-left: 0px;
        margin-top: 60px;
    }
    .about-main-sec {
        gap: 0px;
    }
    #rest-map {
        width: 360px;
        height: 180px;
    }
    #a-text {
        font-size: 16px;
        width: 300px;
    }
    #o-text {
        font-size: 16px;
    }
    #o-time {
        font-size: 16px;
    }
    #o-num {
        font-size: 30px;
    }
    .xrono-div {
        padding-top: 160px;
        gap: 70px;
    }
    #xrono-num1 {
        font-size: 40px;
    }
    #xrono-num2 {
        font-size: 40px;
    }
    #xrono-num3 {
        font-size: 40px;
    }
    #xrono-num4 {
        font-size: 40px;
    }
    #xrono-text {
        font-size: 18px;
    }
    .services-main-div {
        gap: 20px;
    }
    .services-div {
        width: 230px;
    }
    #services-icon {
        font-size: 35px;
    }
    #services-bold-text {
        font-size: 20px;
    }
    #services-thin-text {
        width: 230px;
    }
    .gallery-div {
        display: none;
    }
    .footer-main-div {
        gap: 70px;
    }
}












@media screen and (max-width: 767px) and (min-width: 600px) {
    #n-bars {
        display: none;
        padding: 18px;
    }
    .nav-bar-main {
        padding-top: 70px;
    }
    /* .about-main-sec {
        flex-direction: column;
        align-items: center;
    } */
    .two-stick {
        display: flex;
        top: 40px;
        right: 50px;
    }
    .about-main-sec {
        flex-direction: column-reverse;
        align-items: center;
    }
    #home:hover {
        color: #d80b0b;
    }
    #menu:hover {
        color: #d80b0b;
    }
    #reservation-slide:hover {
        color: #d80b0b;
    }
    #gallery-slide:hover {
        color: #d80b0b;
    }
    #about-slide:hover {
        color: #d80b0b;
    }
    #contact-slide:hover {
        color: #d80b0b;
    }

    #menu {
        color: #222222;
        text-decoration: none;
    }
    #reservation-slide {
        color: #222222;
        text-decoration: none;
    }
    #gallery-slide {
        color: #222222;
        text-decoration: none;
    }
    #about-slide {
       color: #d80b0b;
        text-decoration: none;
    }
    #contact-slide {
        color: #222222;
        text-decoration: none;
    }
    #g-text-p {
        font-size: 45px;
        left: 200px;
    }
    #welcome {
        font-size: 40px;
    }
    #rest-name-big {
        font-size: 70px;
    }
    #a-text {
        width: 370px;
        position: static;
        padding-top: 40px;
    }
    .res-icon {
        top: 20px;
        left: 45px;
    }
    .header-icon-social {
        display: none;
        right: 120px;
        top: 40px;
    }
    .rest-map-div {
        width: 380px;
        height: 200px;
        margin-left: 0px;
        margin-top: 60px;
    }
    .about-main-sec {
        gap: 0px;
    }
    #rest-map {
        width: 360px;
        height: 180px;
    }
    #a-text {
        font-size: 16px;
        width: 300px;
    }
    #o-text {
        font-size: 16px;
    }
    #o-time {
        font-size: 16px;
    }
    #o-num {
        font-size: 30px;
    }
    .xrono-div {
        padding-top: 160px;
        gap: 30px;
    }
    #xrono-num1 {
        font-size: 35px;
    }
    #xrono-num2 {
        font-size: 35px;
    }
    #xrono-num3 {
        font-size: 35px;
    }
    #xrono-num4 {
        font-size: 35px;
    }
    #xrono-text {
        font-size: 15px;
    }
    .services-main-div {
        gap: 20px;
    }
    .services-div {
        width: 190px;
    }
    #services-icon {
        font-size: 35px;
    }
    #services-bold-text {
        font-size: 18px;
    }
    #services-thin-text {
        width: 190px;
        font-size: 15px;
    }
    .gallery-div {
        display: none;
    }
    .footer-main-div {
        gap: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .modal-imgs > img {
        width: 350px;
        height: 350px;
        left: 80px;
    }
    #previous {
        left: 80px;
        top: 80px;
    }
    #next {
        left: 370px;
        top: 80px;
    }
    .img-num-div {
        left: 200px;
        top: 240px;
    }
    .exit-modal {
        left: 370px;
    }
}








@media screen and (max-width: 599px) and (min-width: 500px) {
    #n-bars {
        display: none;
        padding: 18px;
    }
    .nav-bar-main {
        padding-top: 70px;
    }
    /* .about-main-sec {
        flex-direction: column;
        align-items: center;
    } */
    .two-stick {
        display: flex;
        top: 40px;
        right: 50px;
    }
    .about-main-sec {
        flex-direction: column-reverse;
        align-items: center;
    }
    #home:hover {
        color: #d80b0b;
    }
    #menu:hover {
        color: #d80b0b;
    }
    #reservation-slide:hover {
        color: #d80b0b;
    }
    #gallery-slide:hover {
        color: #d80b0b;
    }
    #about-slide:hover {
        color: #d80b0b;
    }
    #contact-slide:hover {
        color: #d80b0b;
    }

    #menu {
        color: #222222;
        text-decoration: none;
    }
    #reservation-slide {
        color: #222222;
        text-decoration: none;
    }
    #gallery-slide {
        color: #222222;
        text-decoration: none;
    }
    #about-slide {
       color: #d80b0b;
        text-decoration: none;
    }
    #contact-slide {
        color: #222222;
        text-decoration: none;
    }
    #g-text-p {
        font-size: 45px;
        left: 200px;
    }
    #welcome {
        font-size: 40px;
    }
    #rest-name-big {
        font-size: 70px;
    }
    #a-text {
        width: 370px;
        position: static;
        padding-top: 40px;
    }
    .res-icon {
        top: 20px;
        left: 45px;
    }
    .header-icon-social {
        display: none;
        right: 120px;
        top: 40px;
    }
    .rest-map-div {
        width: 380px;
        height: 200px;
        margin-left: 0px;
        margin-top: 60px;
    }
    .about-main-sec {
        gap: 0px;
    }
    #rest-map {
        width: 360px;
        height: 180px;
    }
    #a-text {
        font-size: 16px;
        width: 300px;
    }
    #o-text {
        font-size: 16px;
    }
    #o-time {
        font-size: 16px;
    }
    #o-num {
        font-size: 30px;
    }
    .xrono-div {
        padding-top: 60px;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
    #xrono-num1 {
        font-size: 42px;
    }
    #xrono-num2 {
        font-size: 42px;
    }
    #xrono-num3 {
        font-size: 42px;
    }
    #xrono-num4 {
        font-size: 42px;
    }
    #xrono-text {
        font-size: 20px;
    }
    .services-main-div {
        gap: 60px;
        flex-direction: column;
        align-items: center;
    }
    .services-div {
        width: 190px;
    }
    #services-icon {
        font-size: 35px;
    }
    #services-bold-text {
        font-size: 20px;
    }
    #services-thin-text {
        width: 250px;
        font-size: 18px;
    }
    .gallery-div {
        display: none;
    }
    .footer-main-div {
        gap: 70px;
        padding-left: 50px;
        padding-right: 50px;
        flex-direction: column;
        align-items: center;
    }
    #f-big-text {
        width: 200px;
        font-size: 20px;
    }
    #f-small-text {
        width: 200px;
        font-size: 16px;
    }

    .modal-imgs > img {
        width: 320px;
        height: 320px;
        left: 100px;
    }
    #previous {
        left: 100px;
        top: 70px;
    }
    #next {
        left: 360px;
        top: 70px;
    }
    .img-num-div {
        left: 205px;
        top: 220px;
    }
    .exit-modal {
        left: 370px;
    }
}















@media screen and (max-width: 499px) and (min-width: 400px) {
    #n-bars {
        display: none;
        padding: 18px;
    }
    .nav-bar-main {
        padding-top: 70px;
    }
    /* .about-main-sec {
        flex-direction: column;
        align-items: center;
    } */
    .two-stick {
        display: flex;
        top: 40px;
        right: 70px;
    }
    .about-main-sec {
        flex-direction: column-reverse;
        align-items: center;
    }
    #home:hover {
        color: #d80b0b;
    }
    #menu:hover {
        color: #d80b0b;
    }
    #reservation-slide:hover {
        color: #d80b0b;
    }
    #gallery-slide:hover {
        color: #d80b0b;
    }
    #about-slide:hover {
        color: #d80b0b;
    }
    #contact-slide:hover {
        color: #d80b0b;
    }

    #menu {
        color: #222222;
        text-decoration: none;
    }
    #reservation-slide {
        color: #222222;
        text-decoration: none;
    }
    #gallery-slide {
        color: #222222;
        text-decoration: none;
    }
    #about-slide {
        color: #d80b0b;
        text-decoration: none;
    }
    #contact-slide {
        color: #222222;
        text-decoration: none;
    }
    #g-text-p {
        font-size: 35px;
        left: 150px;
    }
    #welcome {
        font-size: 40px;
    }
    #rest-name-big {
        font-size: 70px;
    }
    #a-text {
        width: 370px;
        position: static;
        padding-top: 40px;
        padding-right: 50px;
    }
    .about-texts {
        width: 350px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .res-icon {
        top: 20px;
        left: 45px;
    }
    .header-icon-social {
        display: none;
        right: 120px;
        top: 40px;
    }
    .rest-map-div {
        width: 380px;
        height: 200px;
        margin-left: 0px;
        margin-top: 60px;
    }
    .about-main-sec {
        gap: 0px;
    }
    #rest-map {
        width: 360px;
        height: 180px;
    }
    #a-text {
        font-size: 16px;
        /* width: 300px; */
        text-align: center;
        padding-right: 0px;
    }
    #o-text {
        font-size: 16px;
    }
    #o-time {
        font-size: 16px;
    }
    #o-num {
        font-size: 30px;
    }
    .xrono-div {
        padding-top: 60px;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
    #xrono-num1 {
        font-size: 42px;
    }
    #xrono-num2 {
        font-size: 42px;
    }
    #xrono-num3 {
        font-size: 42px;
    }
    #xrono-num4 {
        font-size: 42px;
    }
    #xrono-text {
        font-size: 20px;
    }
    .services-main-div {
        gap: 60px;
        flex-direction: column;
        align-items: center;
    }
    .services-div {
        width: 190px;
    }
    #services-icon {
        font-size: 35px;
    }
    #services-text {
        font-size: 50px;
    }
    #services-bold-text {
        font-size: 20px;
    }
    #services-thin-text {
        width: 250px;
        font-size: 18px;
    }
    .gallery-div {
        display: none;
    }
    .footer-main-div {
        gap: 40px;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #f-big-text {
        font-size: 24px;
        width: 220px;
    }
    #f-small-text {
        width: 220px;
        font-size: 18px;
    }
    .contact-us-social {
        width: 40%;
    }

    .modal-imgs > img {
        width: 270px;
        height: 270px;
        left: 120px;
    }
    #previous {
        left: 120px;
        top: 50px;
    }
    #next {
        left: 330px;
        top: 50px;
    }
    .img-num-div {
        left: 205px;
        top: 170px;
    }
    .exit-modal {
        left: 350px;
    }

    .two-stick-new {
        width: 300px;
    }
}














@media screen and (max-width: 399px) and (min-width: 300px) {
    #n-bars {
        display: none;
        padding: 18px;
    }
    .nav-bar-main {
        padding-top: 70px;
    }
    /* .about-main-sec {
        flex-direction: column;
        align-items: center;
    } */
    .two-stick {
        display: flex;
        top: 40px;
        right: 60px;
    }
    .about-main-sec {
        flex-direction: column-reverse;
        align-items: center;
    }
    #home:hover {
        color: #d80b0b;
    }
    #menu:hover {
        color: #d80b0b;
    }
    #reservation-slide:hover {
        color: #d80b0b;
    }
    #gallery-slide:hover {
        color: #d80b0b;
    }
    #about-slide:hover {
        color: #d80b0b;
    }
    #contact-slide:hover {
        color: #d80b0b;
    }

    #menu {
        color: #222222;
        text-decoration: none;
    }
    #reservation-slide {
        color: #222222;
        text-decoration: none;
    }
    #gallery-slide {
        color: #222222;
        text-decoration: none;
    }
    #about-slide {
        color: #d80b0b;
        text-decoration: none;
    }
    #contact-slide {
        color: #222222;
        text-decoration: none;
    }
    #g-text-p {
        font-size: 35px;
        left: 70px;
    }
    #welcome {
        font-size: 40px;
    }
    #rest-name-big {
        font-size: 70px;
    }
    #a-text {
        width: 370px;
        position: static;
        padding-top: 40px;
        padding-right: 50px;
    }
    .about-texts {
        width: 280px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .res-icon {
        top: 20px;
        left: 45px;
    }
    .header-icon-social {
        display: none;
        right: 50px;
        top: 40px;
    }
    .rest-map-div {
        width: 280px;
        height: 200px;
        margin-left: 0px;
        margin-top: 60px;
    }
    .about-main-sec {
        gap: 0px;
    }
    #rest-map {
        width: 260px;
        height: 180px;
    }
    #a-text {
        font-size: 16px;
        width: 280px;
        text-align: center;
        padding-right: 0px;
    }
    #o-text {
        font-size: 16px;
    }
    #o-time {
        font-size: 16px;
    }
    #o-num {
        font-size: 24px;
    }
    .xrono-div {
        padding-top: 60px;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
    #xrono-num1 {
        font-size: 42px;
    }
    #xrono-num2 {
        font-size: 42px;
    }
    #xrono-num3 {
        font-size: 42px;
    }
    #xrono-num4 {
        font-size: 42px;
    }
    #xrono-text {
        font-size: 20px;
    }
    .services-main-div {
        gap: 60px;
        flex-direction: column;
        align-items: center;
    }
    .services-div {
        width: 190px;
    }
    #services-icon {
        font-size: 35px;
    }
    #services-text {
        font-size: 50px;
    }
    #services-bold-text {
        font-size: 20px;
    }
    #services-thin-text {
        width: 250px;
        font-size: 18px;
    }
    .gallery-div {
        display: none;
    }
    .footer-main-div {
        gap: 40px;
        padding-left: 50px;
        padding-right: 0px;
        flex-direction: column;
        /* align-items: center; */
        text-align: center;
    }
    #f-big-text {
        font-size: 24px;
        width: 220px;
    }
    #f-small-text {
        width: 220px;
        font-size: 18px;
    }
    .contact-us-social {
        width: 40%;
    }

    .modal-imgs > img {
        width: 270px;
        height: 270px;
        left: 120px;
    }
    #previous {
        left: 120px;
        top: 50px;
    }
    #next {
        left: 330px;
        top: 50px;
    }
    .img-num-div {
        left: 205px;
        top: 170px;
    }
    .exit-modal {
        left: 350px;
    }

    .two-stick-new {
        width: 300px;
    }
}









































